<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title> AI4BI </title>    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">         
        <style>
            /* Add this style to create a scrollable container for the table */
            .table-container {
                overflow: auto;
                max-height: 400px; /* Set a maximum height for the scrollable area */
            }
        </style>
    </head> 
    <body>
        {{ table|safe }}
        <a href="{{ url_for('upload_file') }}" class="button">Go to Homepage</a>
        <h2>File {{name}} uploaded successfully.</h2>
        <h5>The file is {{file_type}} separated file.</h5>
        <h5>The file is encoded in {{default_encoding}} format.</h5>
        <h5><a href="{{ url_for('gen_bi',name=name) }}" class="button">Generate the Insights</a></h5>
        
        <!-- Wrap the table in a scrollable container -->
        <div align="center" class="table-container"> 
            <table> 
                <tr> 
                    <!-- Displaying the converted table -->
                    {% for table in tables %} 
                        <td>{{ titles[loop.index] }}</td>							 
                        {{ table|safe }} 
                    {% endfor %}	 
                </tr> 
            </table> 
        </div> 
    </body> 
</html>
